body {
    background-image: url("images/recordPlayer1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    color: black;
    font-family: 'Passion One', cursive;
    font-size: 30px;
}

h1 {
    font-family: 'Passion One', cursive;
    font-size: 75px;
    text-align: center;
}

input {
    margin-top: 20 px;
    padding: 12px 20px;
}

.inputBox {
    margin-top: 30px;
    margin-bottom: 30px;
}

form {
    text-align: center;
}

.formClass, h1 {
    margin: 40px;
}

input[type=submit] {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: 900;
    letter-spacing: 1px;
    transition-property: background, border-radius;
    transition-duration: .2s, 1s;
    transition-timing-function: linear;
}

input[type=submit]:hover {
    background: black;
    border-radius: 50%;
  }
  

.hidden {
    display: none;
}

ul {
    list-style: none;

}
